*{
  font-family: arial;
}

h1 {
  color: orange;
  background: slategrey;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

p {
  line-height: 30px;
  column-count: 3;
  text-align: right;
  letter-spacing: 3px;
  color: slategray
}

ul {
  border-bottom: dotted 8px red;
  border-left: dashed 8px green
}

li {
  list-style-type: none;
  line-height: 30px;
  text-shadow: 2px 2px lightgray;
}